@import '../../../styles/variables.scss';

.main-navigation {
  &__title {
    color: $color-dark;
    font-size: $subtitle-size-mobile;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

  &__header-nav {
    display: none;
  }

  &__drawer-nav {
    height: 100%;
  }
}

@media screen and (min-width: $display-desktop) {
  .main-navigation {
    &__drawer-nav {
      display: none;
    }

    &__header-nav {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      a {
        color: $color-dark;
        font-size: $text-size-mobile;
      }
    }
  }
}
