@import '../../../styles/variables.scss';

.main-header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  width: 100%;
  height: $padding-top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding: 0 1rem;
  z-index: 5;
  background: $color-light;
  padding: 0 2rem;
}

.hidden {
  transform: translateY(-110%);
}

@media screen and (min-width: $display-tablet) {
}

@media screen and (min-width: $display-desktop) {
}
