@import '../../../styles/variables.scss';

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  padding-top: $padding-top;

  li {
    margin: 1rem;
  }

  a {
    color: $color-dark;
    font-size: $title-size-mobile;
    font-weight: $bold;
  }
}

@media screen and (min-width: $display-desktop) {
  .nav-links {
    flex-direction: row;
    padding: 0;

    li {
      margin: 0 3rem;

      a {
        font-size: $text-size-desktop;
        color: $color-light-gray;
        transition: $main-transition;

        &:hover {
          color: $color-dark;
        }
      }
    }
  }
}
