@import '../styles/variables.scss';

.details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: white;
  position: relative;
  min-height: 100%;

  &__image {
    width: 100%;
    margin: auto 0;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: $color-light-gray;
    color: $color-light;

    &__name {
      font-size: $title-size-mobile;
      text-transform: uppercase;
    }

    &__manufacturer {
      font-size: $subtitle-size-mobile;
    }

    &__description {
      margin-top: 2rem;
      font-size: $text-size-mobile;
    }
  }

  &__specs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: $padding-mobile;
    background: $color-light;

    &__title {
      font-size: $title-size-mobile;
      text-transform: uppercase;
    }
    &__subtitle {
      font-size: $subtitle-size-mobile;
      margin-top: 2rem;
      color: $color-light-gray;
    }
    &__description {
      font-size: $text-size-mobile;
    }
  }
}

.back {
  width: 100%;
  padding: 1rem;
  font-size: $text-size-mobile;
  background: $color-dark-gray;
  text-transform: uppercase;

  &__btn {
    width: 100%;
    text-align: left;
    color: $color-light;
  }

  &__icon {
    margin-right: 1rem;
  }
}

@media (min-width: $display-tablet) {
  .details {
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: 'details__image details__image details__specs' 'details__main details__main details__main';

    &__image {
      grid-area: details__image;
    }

    &__main {
      grid-area: details__main;
      padding: $padding-desktop;

      &__name {
        font-size: $title-size-desktop;
      }

      &__manufacturer {
        font-size: $subtitle-size-desktop;
      }

      &__description {
        font-size: $text-size-desktop;
      }
    }

    &__specs {
      &__title {
        font-size: $title-size-desktop;
      }
      &__subtitle {
        font-size: $subtitle-size-desktop;
      }
      &__description {
        font-size: $text-size-desktop;
      }
    }
  }

  .back {
    font-size: $text-size-desktop;
  }
}

@media (min-width: $display-desktop) {
  .details {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'details__image details__main details__specs';

    &__image {
      grid-area: details__image;
    }

    &__main {
    }

    &__specs {
      grid-area: details__specs;
      padding: $padding-desktop;
    }
  }
}
